<% if notice %>
  <div class="alert alert-success" data-controller="alert">
    <%= notice %>
    <button type="button" class="btn-close" data-action="click->alert#close"></button>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-danger" data-controller="alert">
    <%= alert %>
    <button type="button" class="btn-close" data-action="click->alert#close"></button>
  </div>
<% end %>
