<footer class="bg-dark text-light fixed-bottom">
  <div class="container d-flex justify-content-between mx-auto py-4">
    <div class="">
      <p class="text-center m-0">
        &copy; <%= Date.current.year %> Finance Manager
      </p>
    </div>
    <div class="d-flex justify-content-center align-items-center">
      <%= link_to "Terms of Service", "#", class: "text-decoration-none text-white ps-3" %>
      <%= link_to "Privacy Policy", "#", class: "text-decoration-none text-white ps-3" %>
    </div>
  </div>
</footer>
