<div class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
  <div>
    <%= category.name %>
  </div>
  <div>
    <%= link_to 'Edit', edit_category_path(category) %>
    <%= link_to 'Delete', category %>
  </div>
</div>
