<div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
  <div>
    <%= category.name %>
  </div>
  <div>
    <%= link_to edit_category_path(category), class: 'btn btn-outline-dark' do %>
      <i class="bi bi-pencil-square"></i>
    <% end %>
    <%= link_to category_path(category), class: 'btn btn-outline-danger', data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } do %>
      <i class="bi bi-trash"></i>
    <% end %>
  </div>
</div>
