<%= simple_form_for category do |f| %>
  <% if category.errors.any? %>
    <div class="error-message">
      <%= category.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>
  <%= f.input :name, class: 'form-control', autofocus: true, label: false %>
  <%= f.button :submit, class: "btn btn-outline-primary" %>
<% end %>
