<div class="modal-header">
  <%= turbo_frame_tag 'modal' do %>
    <h2 class="modal-header">Add new category</h2>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    <div class="modal-body">
      <%= render 'form', category: @category %>
    </div>
  <% end %>
</div>
