<div class="container">
  <%= turbo_frame_tag 'modal' do %>
    <div class="modal-body">
      <h2>Import transactions from CSV</h2>
      <%= render 'import', transaction: @transaction %>
    </div>
  <% end %>
</div>
